@page "/SetupConfig"

@using VolReadyDashboard.Data
@using Smartsheet.Net.Standard.Entities;
@inject SmartSheetService SmartSheetService
@inject NavigationManager NavManager

<h1>Setup Config</h1>

@if (stage == 0)
{
    @if (!solvedConfigSecretChallenge && SmartSheetService.GetConfigSecret().Length > 0)
    {
        // must challenge secret to continue
        <span>Config is locked. Enter secret to continue: </span>
        <input type="text" @bind="secretGuess" />
        <button @onclick="CheckChallengeGuess">Unlock</button>
        @if (stageErr.Length > 0)
        {
            <br /><span>@stageErr</span>
        }
    }
    else
    {
        <span>Access Token: </span>
        <input type="text" @bind="newAccessToken" />
        <button @onclick="SetAccessTokenAsync">Next</button>
        @if (stageErr.Length > 0)
        {
            <br /><span>@stageErr</span>
        }
    }
}
@if (stage == 1)
{
    <span>Dashboard Data Sheet Name: </span>
    <input type="text" @bind="sheetSearchText" />
    <button @onclick="SearchSheetsAsync">Search</button>
    <br />
    <select @bind="selectedDataSheet">
        @if (searchResultList != null)
        {
            @foreach (var s in searchResultList)
            {
                <option value="@s.Id">@s.Name</option>
            }
        }
    </select>
    <button @onclick="SetDataSheet">Next</button>
    @if (stageErr.Length > 0)
    {
        <br /><span>@stageErr</span>
    }
}
@if (stage == 2)
{
    <span>Dashboard Config Sheet Name: </span>
    <input type="text" @bind="sheetSearchText" />
    <button @onclick="SearchSheetsAsync">Search</button>
    <br />
    <select @bind="selectedConfigSheet">
        @if (searchResultList != null)
        {
            @foreach (var s in searchResultList)
            {
                <option value="@s.Id">@s.Name</option>
            }
        }
    </select>
    <button @onclick="SetConfigSheet">Next</button>
    @if (stageErr.Length > 0)
    {
        <br /><span>@stageErr</span>
    }
}
@if (stage == 3)
{
    <span>Choose Email Column: </span>
    <select @bind="emailColumnName">
        @if (dataSheet != null)
        {
            @foreach (var c in dataSheet.Columns)
            {
                <option value="@c.Title">@c.Title</option>
            }
        }
    </select>
    <button @onclick="SetEmailColumnName">Next</button>
    @if (stageErr.Length > 0)
    {
        <br /><span>@stageErr</span>
    }
}
@if (stage == 4)
{
    <span>Choose Token Column: </span>
    <select @bind="tokenColumnName">
        @if (dataSheet != null)
        {
            @foreach (var c in dataSheet.Columns)
            {
                <option value="@c.Title">@c.Title</option>
            }
        }
    </select>
    <button @onclick="SetTokenColumnName">Next</button>
    @if (stageErr.Length > 0)
    {
        <br /><span>@stageErr</span>
    }

}
@if (stage == 5)
{
    <span>Set a Config Secret: </span>
    <input type="text" @bind="newConfigSecret" />
    <button @onclick="Finish">Lock Config</button>
    @if (stageErr.Length > 0)
    {
        <br /><span>@stageErr</span>
    }
}
@if (stage == 6)
{
    @if (configErrors == null)
    {
        <p><em>Verifying Config...</em></p>
    }
    else if (configErrors.Count > 0)
    {
        <h2>There were some problems with the config:</h2>
        <table class="table">
            <tbody>
                @foreach (var err in configErrors)
                {
                    <tr style="color: darkred">
                        <td>@err</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

@code {

    private bool solvedConfigSecretChallenge;
    private string secretGuess;

    private int stage = 0;
    private string stageErr = "";
    private string newAccessToken = "";

    private string sheetSearchText = "";
    private string selectedDataSheet;
    private string selectedConfigSheet;
    private List<Sheet> searchResultList;
    private Sheet dataSheet;

    private string emailColumnName;
    private string tokenColumnName;


    private string newConfigSecret;

    private List<string> configErrors;

    protected void CheckChallengeGuess()
    {
        if (secretGuess == SmartSheetService.GetConfigSecret())
        {
            solvedConfigSecretChallenge = true;
        }
        else
        {
            stageErr = "Incorrect secret. Ask you administrator for the config secret.";
        }
    }

    protected async Task SetAccessTokenAsync()
    {
        if (await SmartSheetService.ValidateAccessTokenAsync(newAccessToken))
        {
            stage = 1;
            stageErr = "";
        }
        else
        {
            stageErr = "Invalid Access Token";
        }
    }

    protected async Task SearchSheetsAsync()
    {
        stageErr = "";
        searchResultList = await SmartSheetService.SearchSheetsByNameAsync(sheetSearchText, newAccessToken);
        if (searchResultList.Count == 0)
        {
            stageErr = "No results";
        }
    }

    protected async Task SetDataSheet()
    {
        if (!string.IsNullOrEmpty(selectedDataSheet))
        {
            dataSheet = await SmartSheetService.GetSheetByIdAsync(selectedDataSheet, newAccessToken);
            searchResultList.Clear();
            stage = 2;
            stageErr = "";
        }
        else
        {
            stageErr = "Please search for a sheet, and select a result.";
        }
    }

    protected void SetConfigSheet()
    {
        if (!string.IsNullOrEmpty(selectedConfigSheet))
        {
            searchResultList.Clear();
            stageErr = "";
            stage = 3;
        }
        else
        {
            stageErr = "Please search for a sheet, and select a result.";
        }
    }

    protected void SetEmailColumnName()
    {
        if (!string.IsNullOrEmpty(emailColumnName))
        {
            stageErr = "";
            stage = 4;
        }
        else
        {
            stageErr = "Please choose a column.";
        }
    }

    protected void SetTokenColumnName()
    {
        if (!string.IsNullOrEmpty(tokenColumnName))
        {
            stageErr = "";
            stage = 5;
        }
        else
        {
            stageErr = "Please choose a column.";
        }
    }

    protected async Task Finish()
    {
        if (newConfigSecret.Length > 0)
        {
            // done! set the config
            SmartSheetService.SetConfig(new Config()
            {
                AccessToken = newAccessToken,
                DashboardConfigSheetId = selectedConfigSheet,
                DashboardDataSheetId = selectedDataSheet,
                ConfigSecret = newConfigSecret,
                EmailDataColumnName = emailColumnName,
                TokenDataColumnName = tokenColumnName
            });
            stage = 6;
            if (!SmartSheetService.ConfigValidated)
            {
                configErrors = await SmartSheetService.ValidateConfigAsync();
                if (configErrors.Count == 0)
                {
                    stage = 0;
                    NavManager.NavigateTo("/");
                }
            }
            else
            {
                stage = 0;
                NavManager.NavigateTo("/");
            }
        }
    }

}


