@page "/token/{token}"

@using VolReadyDashboard.Data
@using Smartsheet.Net.Standard.Entities;
@inject SmartSheetService SmartSheetService

<h1>Dashboard</h1>

@if (row == null)
{
    // not found, show them the form
    <input type="text" />
    <button>Send Link</button>
}
else
{
    <table>
        @foreach (var c in row.Cells)
        {
            <tr><td>@c.Column.Title</td><td>@c.DisplayValue</td></tr>
        }
    </table>
}

<span></span>

@code {
    [Parameter]
    public string token { get; set; }

    private Row row;

    protected override async Task OnInitializedAsync()
    {
        row = SmartSheetService.GetCachedRowByToken(token);
    }
}